@inherits LayoutComponentBase

<PageTitle>MeetUP</PageTitle>

<div class="container-fluid">
    <div class="row">
        <SfAppBar ColorMode="AppBarColor.Primary"></SfAppBar>
    </div>
    <div class="row pt-4 px-4">
        @Body
    </div>

</div>
